@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Light.ttf");
}

html, body {
  margin: 0;
  font-family: Roboto;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 200px;
  background-color: #11283A;
  border: solid 1px #447EC9;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}


.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #fff;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 18px;
  width: 40px;
  color: white;
  border: none;
  background: url(/img/br_down.png) no-repeat right;
  background-color: #447EC9;
}

.drop-right:hover .drop-right-content {
  display:block;
}

.drop-right-content {
  display: none;
  position:absolute;
}